    <div class="input-wrap lead" [class.err]="err">
      <span class="lead-ic"><dy-icon [name]="icon" [size]="15"></dy-icon></span>
      <input #input
        [attr.type]="show ? 'text' : 'password'"
        [value]="value"
        [placeholder]="placeholder || ''"
        (input)="onInput($event)"
        (focus)="onFocus($event)"
        (blur)="onBlur()"
        (keydown.enter)="enter.emit()" />
      <button class="trail-btn" type="button" tabindex="-1" (click)="show = !show" [title]="show ? 'Hide' : 'Show'">
        <dy-icon [name]="show ? 'eye-off' : 'eye'" [size]="15"></dy-icon>
      </button>
    </div>
  
